<h1 mat-dialog-title>Edição de Bairro</h1>
<form [formGroup]="form">
    <div class="form-group campo">
        <label for="municipio">Selecione o Municipio</label>
        <select class="form-control" name="id" id="id" formControlName="id">
          <option type="number" *ngFor="let mun of municipios" [value]="mun.id">
              {{ mun.nome }}
          </option>
        </select>
      </div>
  <div mat-dialog-content>
    <p>Digite o nome do Bairro</p>
    <mat-form-field  class="campo-nome">
      <input matInput type="text" name="nome" id="nome" formControlName="nome">
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions>
    <button class="btn1" mat-button (click)="onCancel()">Cancelar</button>
    <button class="btn2" mat-button (click)="editarBairro()" 
             cdkFocusInitial>Salvar</button>
  </div>
</form>