<h3>Cadastro de Membros</h3>
<form [formGroup]="form">
  <div class="form-group campo">
    <label for="nome">Nome do Membro</label>
    <input type="text" class="form-control" name="nome" id="nome" formControlName="nome">
  </div>
  <div class="form-group campo">  
    <label for="nome">CPF</label>
    <input type="text" mask="CPF_CNPJ" maxlength="14" class="form-control" name="cpf" id="cpf" formControlName="cpf">
  </div>
  <div class="form-group campo">
    <label for="endereco">Endereço</label>
    <input class="form-control" type="text" name="endereco" id="endereco" formControlName="endereco">
  </div>
  <div class="form-group campo">
    <label for="telefone">Telefone</label>
    <input class="form-control" mask="(00) 00000-0000" type="text" name="telefone" id="telefone" formControlName="telefone">
  </div>
  <div class="form-group campo">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email" formControlName="email">
  </div>
  <div class="form-group campo">
    <label for="descricao">Data de Nascimento</label>
    <input class="form-control" type="date" name="dataNascimento" id="dataNascimento" formControlName="dataNascimento">
  </div>
  <div class="form-group campo">
    <label for="cargo">Cargo</label>
    <select class="form-control" name="idCargo" id="idCargo" formControlName="idCargo">
      <option type="number" *ngFor="let cargo of cargos" [value]="cargo.idCargo">
          {{ cargo.nome }}
      </option>
    </select>
  </div>
  <div class="campo">
    <input type="submit" class="btn btn-primary mt-4" value="Salvar" (click)="cadastraMembro()">
    <a routerLink="{{'/lista-membros'}}" class="btn btn-secondary mt-4 ml-2">Cancelar</a>      
  </div>

</form>