<h1>Lista de Membros</h1>
<table class="table">
    <tr>
        <th>Id Membro</th> 
        <th>Nome</th> 
        <th>CPF</th> 
        <th>Cargo</th> 
        <th>Detalha Membro</th> 
    </tr>
    <tr *ngFor="let membro of membros">
        <td>{{ membro.idMembro }}</td>
        <td>{{ membro.nome }}</td>
        <td>{{ membro.cpf | cpf }}</td>
        <td>{{ membro.cargo.nome }}</td>
        <td><a [routerLink]="['/detalha-membro/' + membro.idMembro]"> Detalha</a></td>
    </tr>
</table>

<div>
    <button class="btn btn-primary" routerLink="{{ '/cadastra-membro' }}">
        Novo Membro
    </button>
</div>