<h3>Vincular Membros ao Ministerio</h3>
<form [formGroup]="form">
  <div class="form-group campo">
    <label for="membro">Membros</label>
    <select class="form-control" name="idMembro" id="idMembro" formControlName="idMembro">
      <option type="number" *ngFor="let membro of membros" [value]="membro.idMembro">
          {{ membro.nome }}
      </option>
    </select>
  </div>
  <div class="form-group campo">
    <label for="dataEntrada">Data de Entrada</label>
    <input class="form-control" type="date" name="dataEntrada" id="dataEntrada" 
    formControlName="dataEntrada">
  </div>
  <div class="form-group campo">
    <label for="perfil">Perfil</label>
    <select class="form-control" name="idPerfil" id="idPerfil" formControlName="idPerfil">
      <option type="number" *ngFor="let perfil of perfis" [value]="perfil.idPerfil">
          {{ perfil.nome }}
      </option>
    </select>
  </div>
  <div class="form-group campo">
    <label for="ministerio">Ministério</label>
    <select class="form-control" name="idMinisterio" id="idMinisterio" formControlName="idMinisterio">
      <option type="number" *ngFor="let ministerio of ministerios" [value]="ministerio.idMinisterio">
          {{ ministerio.nome }}
      </option>
    </select>
  </div>

  <div class="campo">
    <input type="submit" class="btn btn-primary mt-4" value="Salvar" (click)="cadastraMembroMinisterio()">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>      
  </div>

</form>