<h3>Vincular Membros ao Ministerio</h3>
<form [formGroup]="form">
  <div class="">
    <label for="membro">Membros</label>
    <select class="form-control col-sm-3" name="idMembro" id="idMembro" formControlName="idMembro">
      <option type="number" *ngFor="let membro of membros" [value]="membro.idMembro">
          {{ membro.nome }}
      </option>
    </select>

    <label for="dataEntrada">Data de Entrada</label>
    <input class="form-control col-sm-3" type="date" name="dataEntrada" id="dataEntrada" 
    formControlName="dataEntrada">

    <label for="perfil">Perfil</label>
    <select class="form-control col-sm-3" name="idPerfil" id="idPerfil" formControlName="idPerfil">
      <option type="number" *ngFor="let perfil of perfis" [value]="perfil.idPerfil">
          {{ perfil.nome }}
      </option>
    </select>

    <label for="responsavel">Responsável pelo Ministério</label>
    <select class="form-control col-sm-1" name="responsavel" id="responsavel" formControlName="responsavel">
      <option [value]="1">
          SIM
      </option>
      <option [value]="2">
        NÃO
    </option>
    </select>
  </div>

  <div class="campo">
    <input type="submit" class="btn btn-primary mt-4" value="Salvar" (click)="cadastraMembroMinisterio()">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>      
  </div>

</form>